<link rel="stylesheet" href="static/styles.css">

{% extends "base_template.html" %}
{% block title %} {{ category.title }} - CamInspo {% endblock %}

{% block content %}
<div class="container-fluid" id="category">
    <h2 class="mb-4">{{ category.title }}</h2>
    <h3 class="mb-5">Browse over 600 products in this category!</h3>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-6">
        {% for listing in category.listings %}
        <div class="col">
            <div class="card shadow-sm border-0 h-100">
                <img src="{{ listing.img_url }}" alt="{{ listing.title }}" class="card-img-top">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title fw-bold">{{ listing.title }}</h5>
                    <p class="lead card-text flex-grow-1">{{ listing.description }}</p>
                    <button class="btn btn-success mt-3">
                        <i class="bi bi-calendar-check"></i> Book Now
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
